@font-face {
  font-family: "Yellowtail";
  src: url("../fonts/Yellowtail-Regular.ttf") format("truetype");
  font-weight: 600;
  font-style: normal;
}

@font-face {
  font-family: "FjallaOne";
  src: url("../fonts/FjallaOne-Regular.ttf") format("truetype");
  font-weight: 600;
  font-style: normal;
}

* {
  font-family: "FjallaOne", Arial, Helvetica, sans-serif;
}

/* nav area */

nav {
  display: flex;
  padding: 15px;
  background-color: #820300;
  justify-content: center;
  align-items: center;
  gap: 30px;
}

.nav-btn {
  color: #f7b21f;
  font-size: 1.5rem;
  text-decoration: none;
  border: 2px solid #f7b21f;
  padding: 5px 20px;
  background-color: #820300;
}

.nav-btn:hover {
  background-color: #750200;
}

.nav-btn:focus {
  background-color: #660200;
}

.title-text {
  font-family: "Yellowtail", cursive;
}

/* main page */

.title-row {
  display: flex;
  justify-content: center;
  align-items: center;
}

.title-img {
  width: 200px;
  height: auto;
}

.title-text {
  color: #820300;
  font-size: 4rem;
}

.description {
  margin-left: 200px;
  margin-right: 200px;
}

/* menu page */

.menu {
  margin-top: 20px;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  gap: 20px;
}

.menu-item {
  display: flex;
  gap: 20px;
  justify-content: center;
  align-items: center;
}

.menu-item-img {
  height: 100px;
}

/* contact page */
.contact-container {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}

.contact-card {
  border: 2px solid #820300;
  padding: 20px;
  margin-top: 50px;
  background-color: white;
  color: #820300;
}

.contact-header {
  margin-top: 0px;
  text-align: center;
  font-size: 1.5rem;
}
